html{
    font-size: 20px;
}
@media screen and (max-width: 992px) {
    html{
        font-size: 16px;
    }
}
*{
    font-family: Scada, serif;
}
#main header{
    width: 100%;
}
#main .table-scroll{
    height: 400px;
    width: 100%;
    padding: 0px;
    overflow: scroll;
    overflow-y: scroll;
    overflow-x: hidden;
}
#main .table-scroll .period{
    font-size: 0.8em;
}

#main .table-scroll::-webkit-scrollbar-track {border-radius: 1px;}
#main .table-scroll::-webkit-scrollbar {width: 8px;background:transparent;opacity: 0.2;}
#main .table-scroll::-webkit-scrollbar-thumb {background: rgba(158, 158, 158, 0.51); border-radius: 10px}


#main header{
    background: url(../img/header_bg.jfif);;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px 0px;
}
#main header .main_header .title{
    text-transform: uppercase;
    font-family: Scada;
    font-style: normal;
    font-weight: normal;
    font-size: 2.1rem;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
/*#main header .main_header .phone{
    text-align: right;
    padding: 21px 0px;
}
#main header .main_header .phone a{
    color: #fff;
    text-decoration: underline;
}
#main header .main_header .phone a:hover{
    text-decoration: none;
}*/
/*#main .pre_header{*/
/*    !*height: 100px;*!*/
/*    width: 100%;*/
/*    background-color: #152943;*/
/*    padding:20px 0px;*/
/*}*/
/*#main .pre_header h2 .today,#main .stages_title h2{*/
/*    font-size: 2.1rem;*/
/*    color: #fff!important;*/
/*}*/
/*#main .pre_header h2 span{*/
/*    color: #25b0ad;*/
/*}*/
#main .second_header .today{
    color: #ffffff;
}
#main .stages_title{
    /*height: 100px;*/
    width: 100%;
    padding:20px 0px;
    background: #fff;
    color: #152943;
}
/*-------------------------- tables --------------------------*/
#main .table{
    /*margin-top: 40px;*/
    /*margin-bottom: 40px;*/
    padding: 0px;
    border-bottom: 1px solid #a0a0a0;
}
#main .table .item{
    padding: 15px;
}
#work_list .table .item span{
    text-decoration: underline;
    cursor: pointer;
}
.table_header .name{
    padding-left: 0px;
}
#main_stages .item:nth-child(2n){
    background: rgba(5, 8, 8, 0.04);
}
#main .table_header .row{
    border-bottom: solid 2px #000;
    padding: 10px 15px;
    font-size: 1.4rem;
}

#main .table .item .icon-img{
    display: flex;
    height: 100%;
    width: 32px;
    flex: 0 0 32px;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: -10px;
    align-items: center;
}
#main .table .item .icon-img img{
    height: 32px;
    display: flex;
    align-items: center;
}
#main .table .item .icon-img:hover img{
    display: none;
    height: 32px;
}
#main .table .item .icon-img:hover img.hover{
    display: flex;
    height: 32px;
}
#main .table .item .icon-img img.hover{
    display: none;
    height: 32px;
}
#main .table .item .icon img{
    height: 32px;
    display: flex;
}
#main .table .item .icon:hover img{
    display: none;
}
#main .table .item .icon:hover img.hover{
    display: flex;
    height: 32px;
}
#main .table .item .icon img.hover{
    height: 32px;
    display: none;
}
.stage-click{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
}
#main .table .item .icon{
    display: flex;
    flex: 0 0 32px;
    height: 100%!important;
    align-items: center;
}
#main .table .status{
    font-size: 0.8em;
}
#main .table .status{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    justify-content: space-between;
}
#main .table .item .icon img{
    height: 32px;
}
#main .table .item .status .text{
    display: flex;
    align-items: center;
}
#main .table .item .status{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
    align-content: center;
}
#main .table .status{
    text-align: right;
    padding-right: 0;
    padding-left: 15px;

}
.table .table_header{
    border-bottom: solid 2px #000;
    margin: 15px 0px;
}
#main .table .stage-click{
    text-align: left;
    padding-right: 10px;
    padding-left: 15px;
}
#main .table .stage-click:hover{
    text-decoration: underline;
}
#main .table .stage-click span{
    text-decoration: underline;
    cursor: pointer;
}
#main .table .status, #main .table .period span:hover{
    text-decoration: none;
}
#tooltiptext {
    top: 0;
    visibility: hidden;
    text-align: left;
    max-width: 400px;
    color: #152943;
    padding: 10px;
    font-size: 0.8rem;
    /* Position the tooltip text */
    position: fixed;
    left: -999999px;
    z-index: 100;
    margin-left: 24px;

    /* Fade in tooltip */
    background: #FFFFFF;
    border: 2px solid #25B0AD;
    box-sizing: border-box;
    border-radius: 20px 20px 20px 0;
}
.icon:hover #tooltiptext {
    visibility: visible;
    opacity: 1;
}

.table_header .right_head, #work_list .name{
    text-align: right;
}
#work_list *{
    color: #000!important;
}
#work_list .item *{
    font-size: 0.8rem;
}
#work_list .left_head,#work_list .right_head{
    font-size: 1.4rem;
}
#work_list{
    width: 100%;
    /*background: rgba(37, 176, 173, 1);*/
    padding: 10px 0px ;
}
footer{
    height: 150px;
    padding:60px 0 30px;
    background: #152943;
}
footer .copiright_block{
    text-align: right;
}
footer .copiright_block .copiright{
    color: #fff;
}
select{
    width: 100%;
    border: none;
}
.calendar h2{
    padding: 20px 0px;
}
