<template>
    <div class="year">

        <div class="month" v-for="month in yearData">
            <div class="title">{{month.title}}</div>
            <div class="month-container">
                <div class="week names-day">
                    <div class="day" v-for="d in weekDays">
                            <span>{{d}}</span>
                    </div>
                </div>
                <div class="week" v-for="week in month.weeks">
                    <div class="day" v-for="day in 7" :class="{[`week-day-${day}`]: true}">
                        <span  class="day_block" v-if="week[day]" :class="[week[day].isHoverByItem ? 'hover' : '', week[day].item === '' ? '' : 'tooltip-available' ]"
                               :style="{'background' : week[day].colorHover }"
                               :calendarYear="year"
                               :calendarMonth="month.numMonth"
                               :calendarDay="week[day].date"
                               :item="week[day].item"
                               @mousemove="tooltipOn"
                               @click="setDate"
                        >
                            {{ week[day].date }}<div class="tooltiptext" ref="tooltip" >{{ week[day].item }}</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        props: {
            datesHover: {
                type: Object
            },
            currentDate:{
                type: Object
            },
            year: {  // год на который строится календарь
                type: Number,
            },
        },
        data () {
            return {}
        },
        methods: {
            setDate(event){
                let year = event.target.getAttribute('calendarYear');
                let month = event.target.getAttribute('calendarMonth');
                let day = event.target.getAttribute('calendarDay');

                this.currentDate.year = year;
                this.currentDate.month = month;
                this.currentDate.day = day;
                this.currentDate.isToday = false;

                this.datesHover.dates = [];

                this.datesHover.dates.push([parseInt(year)], [parseInt(month)], [parseInt(day)]);
                this.datesHover.item = '';
                this.datesHover.color = 'rgba(37,176,173,0.5)';
                this.$emit('getDayStages', this.currentDate);

                window.scrollTo(0,0)
                },
                tooltipOn(e){

                    let tooltip = e.target.querySelector(".tooltiptext")

                    if(tooltip !== null){
                        let mouseX = e.clientX;
                        let mouseY = e.clientY - 80;

                        tooltip.style['left'] = mouseX + 'px';
                        tooltip.style['top'] = mouseY + 'px';
                    }
                }
        },
        computed: {
            yearData() {
                let data = [];
                for (let m = 0; m < 12; ++m) {
                    moment.locale('ru');

                    let day = moment({year: this.year, month: m, day: 1});
                    let monthIsHovered = false;
                    let oneDayHover = 0;

                    // проверка есть ли в этом месяце даты которые нужно подчеркнуть
                    if(this.datesHover.dates.length > 0) {
                        let year = this.datesHover.dates[0];
                        let curYear = this.year;

                        let arrMonth = this.datesHover.dates[1];
                        let lastMonth = arrMonth.length - 1;
                        let m1 = m + 1;
                        lastMonth = parseInt(lastMonth, 10);

                        // if((year.length === 1 ) && (arrMonth.length === 1 ) && (this.datesHover.dates[2].length === 1 ) ){
                        //     if ((parseInt(this.datesHover.dates[0][0]) === curYear) && (parseInt(arrMonth[0]) === m1)){
                        //         oneDayHover = 1;
                        //         console.log(1);
                        //     }
                        //
                        // }
                        if(year.indexOf(curYear) !== -1){
                            if (arrMonth.indexOf(m1) !== -1) {
                                if(arrMonth.length > 1){
                                    if(arrMonth[0] === m1){
                                        monthIsHovered = 0;
                                    } else {
                                        if (arrMonth[lastMonth] === m1){
                                            monthIsHovered = 2;
                                        } else {
                                            monthIsHovered = 1;
                                        }
                                    }
                                } else {
                                    monthIsHovered = 4;
                                }
                            }
                        }
                    }

                    let daysInMonth = day.daysInMonth(); // количество дней в месяце

                    let month = { // готовим объект месяца
                        title: day.format("MMMM"),
                        numMonth: day.format("M"),
                        weeks: {},
                    };

                    // итерируем по количеству дней в месяце
                    for (let d = 0; d < daysInMonth; ++d) {
                        let week = day.week();
                        // небольшой хак, момент считает
                        // последние дни декабря за первую неделю,
                        // но мне надо чтобы считалось за 53

                        if (m === 11 && week === 1) {
                            week = 53
                        }
                        if (m === 0 && week === 53) {
                            week = 0
                        }
                        if (m === 11 && week === 1) {
                            week = 52
                        }
                        if (m === 0 && week === 52) {
                            week = 0
                        }
                        // если неделя еще не присутствует в месяце, то добавляем ее
                        if (!month.weeks.hasOwnProperty(week)) {
                            month.weeks[week] = {}
                        }
                        // добавляем день, у weekday() нумерация с нуля,
                        // поэтому добавляю единицу, можно и не добавлять,
                        // но так будет удобнее

                        let dayCal = day.toDate();
                        let isHoverThisDay = false;
                        let colorHoverDay = '';
                        dayCal = dayCal.getDate();
                        let dayCalInt = parseInt(dayCal, 10);
                        let itemName='';
                        if(this.datesHover.dates.length > 0) {
                            let arrDay = this.datesHover.dates[2];
                            let lastArrDay = arrDay.length - 1;
                            lastArrDay = parseInt(lastArrDay, 10);

                            // if((oneDayHover === 1) && (dayCalInt == parseInt(this.datesHover.dates[2][0]))){
                            //     isHoverThisDay = true;
                            //     colorHoverDay = this.datesHover.color;
                            //     console.log('1');
                            // }

                            if ( monthIsHovered === 0 ) {
                                if(dayCalInt >= arrDay[0]){
                                    isHoverThisDay = true;
                                    colorHoverDay = this.datesHover.color;
                                    itemName = '';

                                }
                            }
                            if ( monthIsHovered === 1 ) {
                                isHoverThisDay = true;
                                colorHoverDay = this.datesHover.color;
                                itemName = this.datesHover.item;
                            }
                            if ( monthIsHovered === 2 ) {
                                if(dayCalInt <= arrDay[lastArrDay]){
                                    isHoverThisDay = true;
                                    colorHoverDay = this.datesHover.color;
                                    itemName = this.datesHover.item;
                                }
                            }
                            if ( monthIsHovered === 4 ) {
                                if (arrDay.indexOf(dayCalInt) !== -1){
                                    isHoverThisDay = true;
                                    colorHoverDay = this.datesHover.color;
                                    itemName = this.datesHover.item;
                                }
                            }
                        }

                        month.weeks[week][day.weekday() + 1] = {
                            date: dayCal,
                            isHoverByItem: isHoverThisDay,
                            colorHover: colorHoverDay,
                            item: itemName
                        };

                        // итерируем день на единицу, moment мутирует исходное значение
                        day.add(1, 'd');
                    }

                    // добавлям данные по месяцу в год
                    data.push(month);
                }
                return data
            },
            weekDays () { // дни недели
                let days = [];
                for(let i = 1; i<=7;++i) {
                    days.push(moment().isoWeekday(i).format("dd"))
                }
                return days;
            },
            hoverDatesMonth(){
                return this.yearData.filter( month => {
                    let months = this.datesHover.dates[1];
                    let current_moth = month.numMonth;

                    if (months.indexOf(current_moth) !== -1) {
                        return month;
                    }
                });
            },
        }
    }
</script>

<style lang="scss" scoped>
    .week {
        display: flex;
    }
    .day {
        flex-grow: 1;
        flex-basis: 0;
    }
    .day {
        text-align: center;
        flex-grow: 1;
        flex-basis: 0;

    }
    .day .day_block {
        padding: 0 3px 0 3px;
        width: 100%;
        display: block;
        cursor: pointer;

    }
    .day .day_block:hover {
        background: rgba(0,0,0,0.1);
    }
    .year {
        display: flex;
        flex-wrap: wrap;
    }
    .month {
        margin: 0.25em 0 0.25em 0.25em;
        flex-basis: 0;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 16%;
        font-size: 16px;
    }

    /*@media screen and (max-width: 992px) {*/
    /*    .month{*/
    /*        width: 25%;*/
    /*    }*/
    /*}*/
    /*.month{*/
        /*    width: 16%;*/
        /*}*/
        /*.day .day_block{*/
        /*    padding: 0 2px;*/
        /*}*/
        /*.month .title{*/
        /*    width: 7px!important;*/
        /*    height: 10px!important;*/
        /*    margin: 72% 0 0 0!important;*/
        /*}*/

    .month .title {
        color: #25B0AD;
        left: 0;
        font-style: normal;
        font-weight: normal;
        font-size: 1.2rem;
        transform: rotate(-90deg);
        position: relative;
        width: 15px;
        height: 10px;
        margin: 56% 0 0 11px;
        text-transform: uppercase;
    }
    .names-day .day span{
        text-transform: capitalize;
        font-style: normal;
        font-weight: normal;
        font-size: 0.9rem;
    }
    .month-container{
        padding-left: 1rem;
    }
    .week.names-day .day:nth-child(6),
    .week.names-day .day:nth-child(7){
        color:#25B0AD;
    }
    .day_block .tooltiptext {
        visibility: hidden;
        text-align: left;
        max-width: 400px;
        color: #152943;
        padding: 10px;
        font-size: 0.8rem;
        /* Position the tooltip text */
        position: fixed;
        margin-top:-100px;
        z-index: 1;
        margin-left: 20px;

        /* Fade in tooltip */
        opacity: 0;
        transition: opacity 0.3s;
        background: #FFFFFF;
        border: 2px solid #25B0AD;
        box-sizing: border-box;
        border-radius: 20px 20px 20px 0;
    }
    .day_block.tooltip-available:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }

</style>
