<template>
    <div id="main_content">
        <header>
            <div class="container main_header">
                <div class="row">
                    <div class="col-7">
                        <h1 class="title">Бюджетный процесс</h1>
                    </div>
                    <div class="col-5 links"></div>
                </div>

            </div>
        </header>
        <div id="work_list">
            <!-- Заголовок таблицы  -->
            <div class="container">
                <div class="row second_header">
                    <div class="col-12">
                        <h2>
                            <span class="today" v-if="currentDate.isToday">Сегодня, </span>
                            <span>{{currentDate.day}}
                                <span v-for="month in monthNamed">{{month.nameByDay}}</span>
                            </span>
                            <span v-if="!currentDate.isToday" class="today_link pull-right" @click.prevent="setToday">Сегодня</span>
                        </h2>
                    </div>
                </div>
            </div>
            <div class="container table">
                <div class="row table_header">
                    <div class="col-9 left_head">
                        <span>Этапы</span>
                    </div>
                    <div class="col-3 right_head">Ответственный</div>
                </div>
                <div class="row item"  v-for="(stage,index) in filterByDay" :key="stage.id" >
                    <div class="col-9"><span @click="hoverTableItem"
                                             :color-calendar-hover="stage.colorHoverCalendar"
                                             :item-hover="stage.item"
                                             :year-from="stage.date_from.year"
                                             :month-from="stage.date_from.month"
                                             :day-from="stage.date_from.day"
                                             :year-to="stage.date_to.year"
                                             :month-to="stage.date_to.month"
                                             :day-to="stage.date_to.day">{{ index + 1 }}. {{ stage.item }}</span></div>
                    <div class="col-3 name">{{ stage.name }}</div>
                </div>
                <div v-if="filterByDay == false" class="row item">
                    <div class="col-12">Нет процессов в этот день
                    </div>
                </div>
            </div>
        </div>
        <div class="stages_title">
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <h2>Основные этапы бюджетного процесса</h2>
                    </div>
                    <div class="col-4">
                        <div class="dropdown">
                            <a class="btn btn-year dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{year}} год</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <div>
                                    <a class="dropdown-item"v-for="item_year in filter_years" :value="item_year" @click.prevent="setYear">{{item_year}} год</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container table_header">
            <div class="row">
                <div class="col-md-7 col-lg-8 name">
                    Этапы
                </div>
                <div class="col-md-3 col-lg-2 status text-right">
                    Статус
                </div>
                <div class="col-md-2 col-lg-2 period text-right">
<!--                    <select v-model="year" :value="year" @change="setYear">-->
<!--                        <option v-for="item_year in yearsInFilter" :value="item_year">{{item_year}}</option>-->
<!--                    </select>-->
                    Срок
                </div>
            </div>
        </div>
        <div id="main_stages" class="container table-scroll table">
            <div class="row item" v-for="(stage,index) in filterByYear" :key="stage.id">
                <div class="col-md-7 col-lg-8 stage-click">
                    <span @click="hoverTableItem"
                          :color-calendar-hover="stage.colorHoverCalendar"
                          :item-hover="stage.item"
                          :year-from="stage.date_from.year"
                          :month-from="stage.date_from.month"
                          :day-from="stage.date_from.day"
                          :year-to="stage.date_to.year"
                          :month-to="stage.date_to.month"
                          :day-to="stage.date_to.day" class="1">{{ index + 1 }}. {{ stage.item }}</span>
                    <span class="icon" @mousemove="tooltipOn">
                        <img src="img/tooltip_icon.svg">
                        <img class="hover" src="img/tooltip_icon_h.svg">
                        <div id="tooltiptext" ref="tooltip">{{ stage.tooltip }}</div>
                    </span>
                </div>
                <div class="col-md-3 col-lg-2 status">
                    <span class="text" :title="stage.status">{{ stage.status }}</span>
                    <a class="icon-img" title="Скачать файл" :href="stage.file" v-if="stage.file !== ''" download>
                        <img src="img/download_icon.svg">
                        <img class="hover" src="img/download_icon_h.svg">
                    </a>
                </div>
                <div class="col-md-2 col-lg-2 period text-right">
                    <span >{{ stage.date_from.day }}.{{ stage.date_from.month }}.{{ stage.date_from.year }} - {{ stage.date_to.day }}.{{ stage.date_to.month }}.{{ stage.date_to.year }}</span>
                </div>
            </div>
        </div>

        <div id="calendar" class="container calendar">
            <div class="row">
                <div class="col-12 text-center">
                    <h2>Календарь</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="content">
                        <div class="body-calendar">
                            <calendar :year="year" :current-date="currentDate" :dates-hover="datesHover" @getDayStages="getFilterByDay_(currentDate)"></calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>




<script>
    import moment from 'moment';

    export default {
        name: "ProcessesByDay",
        data () {
          return {
              year: (new Date()).getFullYear(),
              stages: [],
              datesHover: {
                  isHover: false,
                  color: '',
                  item: '',
                  dates: []
              },
              filter_years: [],
              monthsNames: [
                  { num: 1, nameByDay: 'января',name: 'январь'},
                  { num: 2, nameByDay: 'февраля',name: 'февраль'},
                  { num: 3, nameByDay: 'марта',name: 'март'},
                  { num: 4, nameByDay: 'апреля',name: 'апрель'},
                  { num: 5, nameByDay: 'мая',name: 'май'},
                  { num: 6, nameByDay: 'июня',name: 'июнь'},
                  { num: 7, nameByDay: 'июля',name: 'июль'},
                  { num: 8, nameByDay: 'августа',name: 'август'},
                  { num: 9, nameByDay: 'сентября',name: 'сентябрь'},
                  { num: 10, nameByDay: 'октября',name: 'октябрь'},
                  { num: 11, nameByDay: 'ноября',name: 'ноябрь'},
                  { num: 12, nameByDay: 'декабря',name: 'декабрь'},
              ],
              currentDate: {
                  year: 2021,
                  month: 10,
                  day: 24,
                  monthName: '',
                  isToday: true
              },
              filterByDay: []
          }
        },
        beforeMount () {
            Promise.all([
                axios.get('/lava/processes/specific?year=' + this.year),
                axios.get('/lava/processes/specific')
            ]).then(([
                         user,
                         permissions
                     ]) => {
                this.stages = user.data;
                let yearsInStages = [];


                for(let i=0; i <= permissions.data.length - 1; i++) {

                    yearsInStages.push(parseInt(permissions.data[i].date_from.year));
                }
                function uniq_fast(a) {
                    var seen = {};
                    var out = [];
                    var len = a.length;
                    var j = 0;
                    for(var i = 0; i < len; i++) {
                        var item = a[i];
                        if(seen[item] !== 1) {
                            seen[item] = 1;
                            out[j++] = item;
                        }
                    }
                    return out;
                }
                this.filter_years = uniq_fast(yearsInStages).sort();
                this.filterByDay = this.getFilterByDay(this.stages, this.currentDate);
            });

        },
        created () {
            let now = moment();
            moment.locale('ru');
            this.currentDate.year = now.format('YYYY');
            this.currentDate.month = now.format('MM');
            this.currentDate.day = now.format('DD');

            let nameOfMonth = [];
            let currentMonthName = parseInt(this.currentDate.month) - 1;
            this.monthsNames.filter( monthName => {
                let cur_month = parseInt(this.currentDate.month,10);
                if(this.monthsNames.indexOf(cur_month) !== -1)
                nameOfMonth.push(monthName.nameByDay);
                return true;
            });
            this.currentDate.monthName = nameOfMonth[currentMonthName];

        },
        computed: {
            filterByYear(){
                return this.stages.filter( stage => {
                    let year = [];
                    let year_from = parseInt(stage.date_from.year, 10);
                    let year_to = parseInt(stage.date_to.year);
                    let current_year = parseInt(this.year,10);

                    for (let i = year_from; i <= year_to; i++) {
                        year.push(i);
                    }

                    if (year.indexOf(current_year) !== -1) {
                        if(stage.file !== '')
                            stage.file = '/files/' + stage.file;
                        return stage
                    }
                });
            },
            monthNamed(){
                return this.monthsNames.filter( monthName => {
                    if(monthName.num === parseInt(this.currentDate.month, 10)){
                        return true;
                    }
                })
            },
        },
        methods: {
            tooltipOn(e){
                let mouseX = e.x - 10;
                let mouseY = e.y - 200;
                e.target.closest('span').querySelector("#tooltiptext").style['left'] = mouseX + 'px';
                e.target.closest('span').querySelector("#tooltiptext").style['top'] = mouseY + 'px';
            },
            getFilterByDay_(dates){
                this.filterByDay = [];
                this.filterByDay = this.getFilterByDay(this.stages, dates);
            },
            getFilterByDay(stages,curDate){
                return stages.filter( stage => {
                    let year = [];
                    let year_from = parseInt(stage.date_from.year, 10);
                    let year_to = parseInt(stage.date_to.year, 10);

                    for (let i = year_from; i <= year_to; i++) {
                        year.push(i);
                    }

                    if (year.indexOf(parseInt(curDate.year,10)) !== -1) {
                        let month = [];

                        let month_from = parseInt(stage.date_from.month,10);
                        let month_to = parseInt(stage.date_to.month,10);

                        for (let i = month_from; i <= month_to; i++) {
                            month.push(i);
                        }

                        if (month.indexOf(parseInt(curDate.month,10)) !== -1) {

                            let days = [];
                            let lastMonth = parseInt(month.length, 10) - 1;

                            let day_from = parseInt(stage.date_from.day, 10);
                            let day_to = parseInt(stage.date_to.day, 10);


                            if (month.length !== 1){
                                if (month[0] === month_from) {
                                    day_from = parseInt(stage.date_from.day, 10);
                                    day_to = 31;
                                } else {
                                    if (month[lastMonth] === month_to) {
                                        day_from = 1;
                                        day_to = parseInt(stage.date_to.day, 10);
                                    } else {
                                        day_from = 1;
                                        day_to = 31;
                                    }
                                }
                            } else{
                                if(day_from === day_to){
                                    day_from = day_to;
                                    day_to = day_from;
                                } else {
                                    day_from = parseInt(stage.date_from.day, 10);
                                    day_to = parseInt(stage.date_to.day, 10);
                                }
                            }

                            for (let i = day_from; i <= day_to; i++) {
                                days.push(i);
                            }
                            if(days.indexOf(parseInt(curDate.day, 10)) !== -1){
                                return stage;
                            } else {
                                return false;
                            }
                        }
                    }
                });
            },
            hoverTableItem(event){
                this.datesHover.dates = [];

                let yearFrom = event.target.getAttribute('year-from');
                let monthFrom = event.target.getAttribute('month-from');
                let dayFrom = event.target.getAttribute('day-from');

                let yearTo = event.target.getAttribute('year-to');
                let monthTo = event.target.getAttribute('month-to');
                let dayTo = event.target.getAttribute('day-to');

                let itemHover = event.target.getAttribute('item-hover');

                yearFrom = parseInt(yearFrom, 10);
                monthFrom = parseInt(monthFrom, 10);

                dayFrom = parseInt(dayFrom, 10);
                yearTo = parseInt(yearTo, 10);
                monthTo = parseInt(monthTo, 10);
                dayTo = parseInt(dayTo, 10);

                let color = event.target.getAttribute('color-calendar-hover');

                let yearsCount = [];
                let monthCount = [];
                let dayCount = [];

                for (let i = yearFrom; i <= yearTo; i++) {
                    yearsCount.push(i);
                }

                for (let i = monthFrom; i <= monthTo; i++) {
                    monthCount.push(i);
                }

                if(monthCount.length === 1){
                    for (let i = dayFrom; i <= dayTo; i++) {
                        dayCount.push(i);
                    }
                } else {
                    dayCount.push(dayFrom);
                    dayCount.push(dayTo);
                }

                let datesArr = [];
                datesArr.push(yearsCount, monthCount, dayCount);
                this.datesHover.item = itemHover;
                this.datesHover.dates = datesArr;
                this.datesHover.color = 'rgba(37,176,173,0.3)';
                window.scrollTo(0,10000)
            },
            setYear(e){

                let _year = parseInt(e.target.getAttribute('value'));
                this.stages = [];
                axios.get('http://bp.ed9.ru:8089/lava/processes/specific?year=' + _year).then((response) => {
                    this.stages = response.data;
                });
                this.year = _year;

            },
            setToday(){
                let now = moment();
                moment.locale('ru');
                this.year = (new Date()).getFullYear();
                this.currentDate.year = now.format('YYYY');
                this.currentDate.month = now.format('MM');
                this.currentDate.day = now.format('DD');
                this.currentDate.isToday = true;

                this.datesHover.dates = [];
                this.datesHover.isHover = false;
                this.datesHover.color = 'rgba(37,176,173,0.5)';

                this.stages = [];
                this.filterByDay = [];

                axios.get('/lava/processes/specific?year=' + this.year).then((response) => {
                    this.stages = response.data;
                    this.filterByDay = this.getFilterByDay(this.stages, this.currentDate);
                });


                let nameOfMonth = [];
                let currentMonthName = parseInt(this.currentDate.month) - 1;
                this.monthsNames.filter( monthName => {
                    let cur_month = parseInt(this.currentDate.month,10);
                    if(this.monthsNames.indexOf(cur_month) !== -1)
                    nameOfMonth.push(monthName.nameByDay);

                    return true;
                });
                this.currentDate.monthName = nameOfMonth[currentMonthName];
            }
        }
    }
</script>

<style scoped>
    /*.status span{*/
    /*    max-width: 133px;*/
    /*}*/
    .pagination .content{
        padding-top:30px!important;
    }

    .btn-all-processes{
        width: 200px;
        padding: 10px 20px;
        background: #25B0AD;
        box-shadow: 0 0 20px rgba(37, 176, 173, 0.6);
        border-radius: 40px;
        margin: 15px auto;
        color: #FFFFFF;
        cursor: pointer;
    }
    .btn-all-processes:hover{
        background: #152943;
        color: #FFFFFF;
        transition: all ease 400ms;
    }
    /*select year*/
    .btn-year:focus{
        border:0;
        outline: none;
        box-shadow: none;
    }
    .dropdown-menu div{
        overflow: hidden;
        height: 112px;
        margin-right: 13.7px;
        overflow-y: scroll;
    }
    .dropdown-item{
        padding: .25rem 1.5rem .25rem 0.7rem!important;
    }
    .dropdown-menu div::-webkit-scrollbar-track {border-radius: 1px;}
    .dropdown-menu div::-webkit-scrollbar {width: 4px;background: #25B0AD;}
    .dropdown-menu div::-webkit-scrollbar-thumb {background: #152943;}
    /*.dropdown-menu div:hover::-webkit-scrollbar-thumb {background: #152943;}*/
    .period{
        padding-right: 6px;
    }
    .btn-year{
        width: 100%;
        text-align: left;
        font-size: 1.4rem;
        border:0;
        outline: none;
        z-index: 60;
        position: relative;
        padding: .25rem 1.3rem .25rem 3.8rem;
    }
    .btn-year::after{
        display: inline-block;
        margin-left: .255em;
        vertical-align: .255em;
        content: "";
        right: 0;
        position: absolute;
        top: 19px;
        border-top: .3em solid;
        border-right: .3em solid transparent;
        border-bottom: 0;
        border-left: .3em solid transparent;
    }
    .dropdown-menu.show{
        position: absolute;
        transform: translate3d(0px, 44px, 0px);
        top: -55px!important;
        left: 0;
        padding-top: 50px;
        z-index: 40;
        width: 86%;
        border: 2px solid #25B0AD;
        margin: 0 0 0 17.5%;
        border-radius: 10px;
    }

    .title-calendar {
        font-weight: bold;
        font-size: 1.5em;
        font-family: Scada, serif;
        margin: 0.25em;
        text-align: center;
    }
    .today_link{
        color:#fff!important;
        text-decoration: underline;
        cursor: pointer;
        position: absolute;
        right: 0;
        font-family: Scada, serif;
    }
    .today_link:hover{
        text-decoration: none;
    }
    .header-calendar {
        padding: 0.25em;
        display: flex;
        flex-shrink: 0;
        justify-content: space-between;
    }
    .container.calendar{
        padding: 0 0;
    }
</style>
